{% assign oss = site.data.data.sidebar.oss %}
{% if oss %}
<div class="oss-container container-block">
  <h2 class="container-block-title">
    {{ oss.title }}
  </h2>

  {% if oss.intro %}
  <div class="intro">
    <p>{{ oss.intro }}</p>
  </div>
  <!--//intro-->
  {% endif %}

  {% for contribution in oss.contributions %}
  <div class="item">

    <h5 class="category-title">
      {% if contribution.link %}
      <a href="{{ contribution.link }}" target="_blank">{{ contribution.title }}</a>
      {% else %}
      {{ contribution.title }}
      {% endif %}
    </h5>

    {% if contribution.tagline %}
    - <span class="project-tagline">{{ contribution.tagline }}</span>
    {% endif %}

  </div>
  <!--//item-->
  {% endfor %}

</div>
<!--//section-->
{% endif %}
